# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.idx
*.qmake.stach
*desktop.*
*.txt
*.json


src/game_state/score_snake.txt
src/gui/desktop/build/Desktop-Debug/.qmake.stash
src/gui/desktop/build/Desktop-Debug/desktop
build
build-Desktop-Debug
